<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HospitalManagementSystem"
        tools:targetApi="31">
        <activity
            android:name=".haelth_detailactivity"
            android:exported="false" />
        <activity
            android:name=".Homeartcileactivity"
            android:exported="false" />
        <activity
            android:name=".BuymedicineDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Buymedicineactivityy"
            android:exported="false" />
        <activity
            android:name=".Buymedicineactivity"
            android:exported="false" />
        <activity
            android:name=".CartLabActivity"
            android:exported="false" />
        <activity
            android:name=".LabtestdetailActivity"
            android:exported="false" />
        <activity
            android:name=".Labtestactivity"
            android:exported="false" />
        <activity
            android:name=".BookAppointment"
            android:exported="false" />
        <activity
            android:name=".DoctorDetails"
            android:exported="false" />
        <activity
            android:name=".find_doctor"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>